*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.home{
    width: 100%;
    height: 87.4vh;
    margin-top: 82px;
}

.main-home{
  display: flex;
  justify-content: space-between;
}

.image-utama{
  height: 569px;
}

.home-left{
  width: 95vh;
  margin-left: 100px;
  margin-top: 90px;
}

.home-right{
  height: 95vh;
  position: absolute;
  right: 0;
}

.home-left h1{
  font-size: 64px;
  font-weight: 800;
  margin-bottom: 40px;
}

.info{
  position: relative;
  top: -260px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 50px;
}

.title{
  color: white;
  font-weight: 400;
  font-size: 48px;
}

.price{
  width: 80px;
  font-size: 24px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: white;
}

.button-benner{
  width: 150px;
  background-color: #2F241F !important;
  border: none !important;
}

.catalog{
  display: flex;
  gap: 20px;
}

.search{
  width: 50% !important;
  background-color: #E5F0B6 !important;
  border-color: 0 !important;
}

.button-yt{
  width: 50%;
  height: 50px;
  background-color: white !important;
  border-color: #2F241F !important;
  color: #2F241F !important;
}

.search::-webkit-input-placeholder{
  padding-left: 25%;
}

@media only screen and (max-width: 600px){
  .main-home{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    height: 200vh;
  }

  .home-right{
    all: unset;
  }

  .home-left{
    all: unset;
    height: 70vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 13vh;
  }

  .home-left h1{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 40px;
  }

  .catalog{
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100%;
  }

  .button-yt{
    width: 100%;
    height: 50px;
    background-color: white !important;
    border-color: #2F241F !important;
    color: #2F241F !important;
  }

  .search{
    height: 50px;
    width: 100% !important;
    background-color: #E5F0B6 !important;
    border-color: 0 !important;
  }

  .info{
  position: relative;
  top: -260px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 50px;
}
  
}